@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #230312;
  color: rgba(255, 255, 255, 0.92);
}

.bg-deepviolet {
  background-color: #1d000d;
}

.bg-violet {
  background-color: #230312;
}

.text-lightwhite {
  color: rgba(255, 255, 255, 0.92);
}
